@use '../../variables.module';
  .calendar-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    // Calendar header (top navigation part)
    .calendar-grid-header {
      border: transparent;
      background-color: #d9d9d9;
      font-size: 16px;
      height: 60px; // Adjust header height as needed
    }
  
    // Calendar grid area (date cells)
    .calendar-grid {
      border: 1px solid variables.$greyish;
      flex-grow: 1; // Fills the remaining height of the screen
      display: grid;
      grid-auto-rows: 1fr; // Make sure rows are of equal height, responsive
  
      .day-box {
        border: 1px solid variables.$greyish;
        display: flex;
        justify-content: center;
        align-items: center;
  
      }
      .day-header{
        margin-top: 40%;
      }
    }
  }
  