.upper-part {
    background-color: black;
    color: white;  
    padding: 10px 16px; 
    border-radius: 22px; 
    display: flex;
    flex-direction: column; 
    align-items: front; 
    text-align: front; 
    position: relative; 
    min-height: 30px;
    width: 293px;
    margin-left: 30px;
    margin-top: 20px;

}

.search-input {
    background-color: #D9D9D9;
    border: 3px solid rgb(46, 39, 39); 
    padding: 8px 16px; 
    color: white; 
    border-radius: 26px; 
    font-size: 14px; 
    text-transform: lowercase;
    cursor: pointer;
    outline: none;
    margin-top: -20px; 
    display: flex;  
    align-items: front;
    justify-content: center;
    gap: 5px; 
    width: 232px;
    margin-left: 60px;
    position: absolute;
    height:32px
}

.task-summary {
    margin-top: px; 
    font-size: 12px; 
    color: #ccc;
    text-align: left; 
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    // border: 1px solid white; 

}

.task-summary a {
    color: #fff; 
    text-decoration: none; 
    cursor: pointer;
    display: block; 
    margin-bottom: 25px; 
}

.task-summary a:hover { 
    text-decoration: underline; 
}

.button-section {
    margin: 30px 40px; 
    display: flex;
    justify-content: left; 
    gap: 20px; 
}

.my-list-button,
.new-list-button {
    background-color: #007BFF; 
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    width: 76px;
    cursor: pointer;
    
}

.my-list-button:hover,
.new-list-button:hover {
    background-color: #0056b3; 
    text-decoration: underline;
}

.divider {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 5px 10px; 
}

.hire-me-text {
    text-align: left; 
    margin: 20px 30px; 
    font-size: 18px; 
    color: #000000; 
    cursor: pointer; 
    font-weight: bold; 
}

.circle-sign {
    font-size: 18px;
    margin-right: 10px; 
    color: #000000;
}

.star-sign {
    font-size: 20px; 
    margin-left: 2px; 
    color: #000000; 
}

.plus-button {
    position: fixed;
    bottom: 0;  
    right: 0;   
    margin: 20px;
     
}
