.upper-part {
    background-color: black;
    color: white;  
    padding: 10px 16px; 
    border-radius: 22px; 
    display: flex;
    flex-direction: column; 
    text-align: left; 
    min-height: 30px;
    width: 293px;
    margin-left: 30px;
    margin-top: 20px;

    .task-summary {
        font-size: 12px; 
        color: #ccc;
        display: flex;

        a {
            color: #fff; 
            cursor: pointer;
            margin-bottom: 25px; 

            &:hover { 
                text-decoration: underline; 
            }
        }
    }
}

.search-input {
    background-color: #D9D9D9;
    padding: 8px 16px; 
    border-radius: 26px; 
    font-size: 14px; 
    cursor: pointer;
    outline: none;
    margin-top: -20px; 
    width: 232px;
    margin-left: 60px;
    position: absolute;
    height: 32px;
}

.button-section {
    margin: 30px 40px; 
    display: flex; 
    gap: 20px; 

    .my-list-button,
    .new-list-button {
        background-color: #fff; 
        padding: 8px 16px;
        width: 76px;
        cursor: pointer;
        font-size: 18px;

        &:hover {
            background-color: #fff; 
            text-decoration: underline;
        }
    }
}

.divider {
    border: 0;
    height: 1px;
    background: #ccc;
}

.hire-me-text {
    margin: 20px 30px; 
    font-size: 18px; 
    color: #000000;  
    font-weight: bold; 
}
