.kanban-board {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .column {
    // background: $greyish;
    padding: 1rem;
    border-radius: 8px;
    min-width: 220px;
    max-width: 220px;
    flex-grow: 1;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  
    .column-header {
      font-weight: bold;
      text-align: left;
    }
  
    .add-task {
      display: flex;
      align-items: center;
      background: white;
      padding: 0.5rem;
      border-radius: 4px;
      margin-bottom: 1rem;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      &:hover {
        background: #f9f9f9;
      }
    }
  
    .tasks {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
  
      .task {
        display: flex;
        align-items: center;
        background: white;
        padding: 0.5rem;
        border-radius: 4px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        font-size: 0.875rem;
  
        &:hover {
          background: #f9f9f9;
        }
  
        input {
          margin-right: 0.5rem;
        }
      }
    }
  }
  